node_modules
postgres-data

# Artifacts (from builds, tests, etc)
/build
/playwright-report
/playwright/.cache
/public/build
/storybook-static
/test-results

# Logs
npm-debug.log*
*.log

# Specific files
.env
.DS_Store
