node_modules
postgres-data

/build
/playwright-report
/public/build
/storybook-static
/test-results

# Ignore everything except JS/TS files.
# Based on https://stackoverflow.com/a/70715829/458193
*
!*.cjs
!*.js
!*.jsx
!*.mjs
!*.ts
!*.tsx
!*/
